<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue3 Write</title>
  </head>
  <body>
    <!-- <div class="item" v-for="item in data" :key="item">{{ item }}</div> -->
    <div id="app">
      <input type="text" v-model="test">
    </div>

      <script
        type="module"
        src="./dist/packages/runtime-dom/src/index.js"
      ></script>
      <script type="module">
        import { createApp, ref } from "./dist/packages/vue/src/index.js";
        // const app = createApp
        // debugger;
        const app = createApp({
          setup() {
            const test = ref(100);
            const data = ref([1,2,3])

            function change(){    
              // test.value++
              data.value.push(1);
              console.log('data',data.value);
              
              // console.log('change',test.value);
            }


            return {
              test,
              change,
              data
            };
          },
        }).mount("#app");

        // console.log('app',app);
      </script>
    </p>
  </body>
</html>
